#[submodule "libfm"]
#	path = libfm
#	url = https://github.com/SokoloffA/libfm.git
#[submodule "menu-cache"]
#	path = menu-cache
#	url = https://github.com/SokoloffA/menu-cache.git
[submodule "liblxqt"]
	path = liblxqt
	url = https://github.com/SokoloffA/liblxqt.git
[submodule "libqtxdg"]
	path = libqtxdg
	url = https://github.com/SokoloffA/libqtxdg.git
[submodule "lxqt-about"]
	path = lxqt-about
	url = https://github.com/SokoloffA/lxqt-about.git
#[submodule "lxsession"]
#	path = lxsession
#	url = https://github.com/SokoloffA/lxsession.git
#[submodule "lxqt-powermanagement"]
#	path = lxqt-powermanagement
#	url = https://github.com/SokoloffA/lxqt-powermanagement.git
#[submodule "pcmanfm-qt"]
#	path = pcmanfm-qt
#	url = https://github.com/SokoloffA/pcmanfm-qt.git
#[submodule "libsysstat"]
#	path = libsysstat
#	url = https://github.com/SokoloffA/libsysstat.git
#[submodule "liblxqt-mount"]
#	path = liblxqt-mount
#	url = https://github.com/SokoloffA/liblxqt-mount.git
#[submodule "lxqt-runner"]
#	path = lxqt-runner
#	url = https://github.com/SokoloffA/lxqt-runner.git
#[submodule "lxqt-power"]
#	path = lxqt-power
#	url = https://github.com/SokoloffA/lxqt-power.git
#[submodule "lxqt-policykit"]
#	path = lxqt-policykit
#	url = https://github.com/SokoloffA/lxqt-policykit.git
#[submodule "lxqt-panel"]
#	path = lxqt-panel
#	url = https://github.com/SokoloffA/lxqt-panel.git
#[submodule "lxqt-openssh-askpass"]
#	path = lxqt-openssh-askpass
#	url = https://github.com/SokoloffA/lxqt-openssh-askpass.git
#[submodule "lxqt-notificationd"]
#	path = lxqt-notificationd
#	url = https://github.com/SokoloffA/lxqt-notificationd.git
#[submodule "lxqt-config"]
#	path = lxqt-config
#	url = https://github.com/SokoloffA/lxqt-config.git
#[submodule "lxqt-appswitcher"]
#	path = lxqt-appswitcher
#	url = https://github.com/SokoloffA/lxqt-appswitcher.git
#[submodule "obconf-qt"]
#	path = obconf-qt
#	url = https://github.com/SokoloffA/obconf-qt.git
#[submodule "lximage-qt"]
#	path = lximage-qt
#	url = https://github.com/SokoloffA/lximage-qt.git
#[submodule "lxrandr-qt"]
#	path = lxrandr-qt
#	url = https://github.com/SokoloffA/lxrandr-qt.git
#[submodule "lxinput-qt"]
#	path = lxinput-qt
#	url = https://github.com/SokoloffA/lxinput-qt.git
#[submodule "lxqt-globalkeys"]
#	path = lxqt-globalkeys
#	url = https://github.com/SokoloffA/lxqt-globalkeys.git
#[submodule "lxqt-common"]
#	path = lxqt-common
#	url = https://github.com/SokoloffA/lxqt-common.git
